# Aptos related files
.aptos
.env
move/build
aptos.move/
*.mv
*.mvi
*.blob

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
dist
build
dist-ssr
.cache/
.cache-loader/

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust specific files (if using Rust for Move development)
target/
Cargo.lock
Cargo.toml

# template related files
example-collection/

# Test & Artifacts
test/
*.json
*.txt

# Coverage
coverage/
*.lcov

# Miscellaneous
*.swp
*.swo
*.swn
*~
